@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    /* Versão Light */
    --background: 265 2% 98%; /* Fundo claro */
    --foreground: 230 15% 10%; /* Texto escuro */
    --card: 0 0% 100%; /* Cartão branco */
    --card-foreground: 230 15% 15%; /* Texto no cartão */
    --popover: 0 0% 98%; /* Fundo do popover */
    --popover-foreground: 230 15% 10%; /* Texto no popover */
    --primary: 251 70% 55%; /* Roxo */
    --primary-foreground: 0 0% 100%; /* Texto branco */
    --secondary: 160 80% 40%; /* Verde mais escuro */
    --secondary-foreground: 230 15% 10%; /* Texto escuro */
    --muted: 230 10% 90%; /* Fundo suavizado */
    --muted-foreground: 230 15% 35%; /* Texto suavizado */
    --accent: 265 13% 94%; /* Roxo */
    --accent-foreground: 230 15% 10%; /* Texto branco */
    --destructive: 0 80% 50%; /* Vermelho de alerta */
    --destructive-foreground: 0 0% 100%; /* Texto branco */
    --border: 265 5% 90%; /* Bordas suaves */
    --input: 265 5% 90%; /* Campo de input branco */
    --ring: 160 80% 40%; /* Verde escuro para foco */
    --radius: 0.5rem; /* Arredondamento padrão */
    --chart-1: 251 70% 55%; /* Roxo */
    --chart-2: 160 50% 40%; /* Verde */
    --chart-3: 220 15% 35%; /* Azul escuro */
    --chart-4: 280 70% 65%; /* Azul-roxo claro */
    --chart-5: 265 80% 55%; /* Rosa claro */
    --radius: 0.75rem; /* Arredondamento padrão */
  }

  .dark {
    --background: 230 15% 8%;
    --foreground: 210 15% 90%;
    --card: 230 15% 10%;
    --card-foreground: 210 15% 90%;
    --popover: 230 15% 10%;
    --popover-foreground: 210 15% 90%;
    --primary: 251 63% 56%; /* Roxo */
    --primary-foreground: 210 15% 95%;
    --secondary: 160 50% 50%; /* Verde */
    --secondary-foreground: 210 15% 90%;
    --muted: 230 10% 20%; /* Fundo mais escuro */
    --muted-foreground: 210 10% 80%;
    --accent: 230 10% 20%; /* Roxo */
    --accent-foreground: 210 15% 95%;
    --destructive: 0 80% 60%; /* Vermelho */
    --destructive-foreground: 210 15% 90%;
    --border: 230 10% 25%;
    --input: 230 10% 25%;
    --ring: 160 50% 50%; /* Verde */
    --chart-1: 265 80% 60%; /* Roxo */
    --chart-2: 160 50% 50%; /* Verde */
    --chart-3: 220 15% 40%; /* Azul escuro */
    --chart-4: 280 70% 65%; /* Azul-roxo */
    --chart-5: 265 80% 55%; /* Rosa */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
